{% extends "job_application/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% block register %}{% endblock register %}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add Profile</legend>
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
                </div>
            </form>
            <div class="border-top pt-3">
{% endblock content %}