{% extends "job_application/base.html" %}
{% block content %}
  <div align="left">
    <br>
    <h3>Reading Material</h3>
    <p>Crack the Code Interview: <a href="https://www.amazon.com/Cracking-Coding-Interview-Programming-Questions/dp/0984782850" target="_blank">Purchase</a></p>
    <br>
    <h3>Interview Practice</h3>
    <p><a href="https://www.hackerrank.com/" target="_blank">HackerRank</a></p>
    <p><a href="https://leetcode.com/" target="_blank">Leet Code</a></p>
    <br>
    <h3>Courses</h3>
    <p><a href="https://www.udemy.com/courses/search/?src=ukw&q=coding+interview" target="_blank">Udemy</a></p>
    <br>
    <h3>Tips</h3>
    <p>Heres a great article on coding interview tips by <a href="https://www.interviewcake.com/coding-interview-tips" target="_blank">Interview Cake</a></p>
  </div>
{% endblock content %}